{% extends 'base.html' %}
{% load static %}


{% block content %}
 <form action="{% url 'yummy:food' %}" id="address-form" method="GET" autocomplete="on">
      <label class="full-field">
        <span class="form-label">Deliver to</span>
        <input
          id="ship-address"
          name="ship-address"
          required
          autocomplete="on"
        />
      </label>
     <input type="hidden" id="postcode" name="postcode">
      <button type="submit" class="my-button">Show restaurants</button>
    </form>

<script src="{% static 'js/home/home.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeNxTbLq3k-zW76Fh8kA1b4weN4iNCuoc&callback=initAutocomplete&libraries=places&v=weekly"></script>
{% endblock %}
