{% extends 'base.html' %}
{% load static %}


{% block content %}
 <form id="address-form" action="" method="get" autocomplete="off">
      <label class="full-field">
        <span class="form-label">Deliver to</span>
        <input
          id="ship-address"
          name="ship-address"
          required
          autocomplete="off"
        />
      </label>
     <label class="full-field">
        <span class="form-label">Apartment, unit, suite, or floor #</span>
        <input id="address2" name="apartment-number" />
      </label>
      <button type="button" class="my-button">Save address</button>

      <!-- Reset button provided for development testing convenience.
  Not recommended for user-facing forms due to risk of mis-click when aiming for Submit button. -->
      <input type="reset" value="Clear form" />
    </form>

<script src="{% static 'js/home/home.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeNxTbLq3k-zW76Fh8kA1b4weN4iNCuoc&callback=initAutocomplete&libraries=places&v=weekly"></script>
{% endblock %}
